@charset "utf-8";
#wrap {
    position: relative;
    width: 100%;
    font-size: 13px;
}

#container {
    position: relative;
    width: 100%;
}

.contents {
    position: relative;
    width: 1260px;
    margin: 20px auto;
}

.contents01 {
    display: block;
    overflow: hidden;
    height: 27px;
    margin: 0 0 10px;
}

.contents01 ol {
    float: right;
    font-size: 13px;
}

#header .contents01 li {
    float: left;
    background: none;
    padding: 0 0 0 8px;
    line-height: 25px;
}

#header .contents01 li:first-child a {
    padding: 0 6px 0 8px;
    background: url(../images/path_home.png) no-repeat 0 6px;
    line-height: 25px;
    font-size: 0;
}

.login1 {
    position: relative;
    width: 600px;
    margin: 50px auto;
}

.user_login {
    padding: 0 20px;
}

.user_login .login_title {
    margin: 0 0 40px;
    border: 0;
}

.user_login .login_title h3 {
    display: block;
    clear: both;
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: #333;
    font-weight: normal;
}

.menu {
    padding-bottom: 30px;
    font-size: 0;
}

.login1 .user_login .menu li {
    display: inline-block;
    width: 50%;
}

.login1 .user_login .menu li .selected {
    background-color: #fff;
}

#header #wrap #container .login1 .user_login .menu li.selected a {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

#header #wrap #container .login1 .user_login .menu li a {
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fcfcfc;
    border: 1px solid #efefef;
    border-radius: 0 5px 5px 0;
    color: #888;
}

.user_login .menu li:target a {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
}

#header #wrap #container .login1 .user_login .menu li:first-child a {
    border-radius: 5px 0 0 5px;
}

#member_form fieldset {
    position: relative;
}

#member_form #logmember .inputbox {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#member_form #logmember .inputbox input {
    padding: 0 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #000;
    border: 0;
    box-sizing: border-box;
}

#member_form #logmember .inputbox #member_id {
    border-bottom: 1px solid #ccc;
}

#member_form #logmember .loginCheckbox {
    margin: 20px 0;
}

#member_form #logmember .login_button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#member_form #logmember .login_search {
    margin: 40px 0 0;
    width: 100%;
    font-size: 0;
    float: inherit;
}

#member_form #logmember .login_search a {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #ccc;
    font-weight: bold;
}

#member_form #logmember .login_search a:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
}

#member_form #logmember .login_search a.right {
    float: right;
    border-left: 0;
}

#logmember .snslogin {
    position: relative;
    width: 100%;
    padding: 50px 0;
}

#logmember .snslogin p a {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #fafafa;
    overflow: hidden;
}

#logmember .snslogin p span {
    position: relative;
    float: left;
    width: 55px;
    height: 40px;
    margin: 0 15px 0 0;
}

#logmember .snslogin p span.naver {
    background: #44ba2f;
}

#logmember .snslogin p i {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-left: 18px;
}

#lognomember {
    display: none;
}

#lognomember .inputbox {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#lognomember .inputbox input {
    padding: 0 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #000;
    border: 0;
    box-sizing: border-box;
}

#lognomember .inputbox #order_name, #lognomember .inputbox #order_id {
    border-bottom: 1px solid #ccc;
}

#lognomember .login_button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    margin: 50px auto;
    cursor: pointer;
}

.inputbox:target input {
    border: 1px solid #ccc;
}