@charset "utf-8";
#wrap {
    position: relative;
    width: 100%;
    font-size: 13px;
}

#container {
    position: relative;
    width: 100%;
}

.contents {
    position: relative;
    width: 1260px;
    margin: 20px auto;
}

.contents01 {
    display: block;
    overflow: hidden;
    height: 27px;
    margin: 0 0 10px;
}

.contents01 ol {
    float: right;
    font-size: 13px;
}

#header .contents01 li {
    float: left;
    background: none;
    padding: 0 0 0 8px;
    line-height: 25px;
}

#header .contents01 li:first-child a {
    padding: 0 6px 0 8px;
    background: url(../images/path_home.png) no-repeat 0 6px;
    line-height: 25px;
    font-size: 0;
}

.my_title {
    margin: 0 0 15px;
    border-bottom: 2px solid #ccc;
    color: #222;
}

.my_title h2 {
    display: inline-block;
    margin: 0 0 15px;
}

.myshop {
    position: relative;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #ccc;
    color: #444;
    font-size: 12px;
}

.myshop::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #e6e6e6;
}

.myshop ul::after {
    content: "";
    display: block;
    clear: both;
}

.myshop ul li {
    float: left;
    margin: 7px 0;
    padding: 0 45px;
    width: 50%;
    height: 20px;
    line-height: 2;
    vertical-align: top;
    box-sizing: border-box;
}

.myshop ul li .title {
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.myshop ul li .data {
    float: left;
    width: 47%;
    padding: 0 10px;
    text-align: right;
    box-sizing: border-box;
}

#header .myshop ul li .btnga {
    margin: -2px 0 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 4px 8px;
    line-height: 18px;
}

.myshop strong, .myshop span {
    font-weight: normal;
}

.myshop_status {
    margin: 20px 0 0;
    border: 1px solid #666;
}

.status_title {
    padding: 11px 21px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    background: #f6f6f6;
}

.status_title h2 {
    padding: 0;
    font-size: 14px;
    color: #000;
}

.status_title h2 span {
    padding: 0 0 0 4px;
    font-weight: normal;
    font-size: 11px;
    color: #888;
}

.status_title h2 span strong {
    color: #008bcc;
}

.myshop_status .status {
    overflow: hidden;
    padding: 20px 0;
}

.myshop_status .order {
    float: left;
    width: 80%;
}

.myshop_status .order li {
    float: left;
    width: 25%;
    padding: 0 0 4px;
    margin: 0 -1px 0 0;
    border-right: 1px solid #ccc;
    text-align: center;
}

.myshop_status .order li span {
    display: block;
    margin: 10px 0 10px;
    font-size: 14px;
    font-weight: bold;
}

#header .myshop_status .order .count {
    font-size: 24px;
    color: #008bcc;
}

.status .cs {
    float: left;
    width: 20%;
}

.status .cs li {
    margin: 0 0 10px 60px;
    letter-spacing: 2px;
}

.status .cs .jum {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 0;
    background: #000;
    vertical-align: middle;
}

.status .cs strong {
    font-weight: normal;
    font-size: 12px;
}

#header .status .cs .count {
    display: inline-block;
    margin: 0 0 0 4px;
    color: #008bcc;
}